* {
  margin:0;
}
  .ex-8 {
    background-color: #66bbe2;
    padding: 2% 2%;
    margin: auto;
    /*clip-path: polygon(0% 50%, 25% 100%, 75% 100%, 100% 50%, 75% 0%, 25% 0%);*/
  }
  .token {
    font-family: serif;
    border-radius: 100%;
    background-color: wheat;
    width: 5em;
    height: 5em;
    color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(1%, auto);
    vertical-align: middle;
  }
  .id { font-size: 3em; }
  .river { font-size: 2em; grid-column: 1/3;}
  .tok {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(10%, auto);
  }
  .alim { font-size: 1.5em; grid-column: 1; grid-row: 1; padding-left: 10px; padding-top: 10px; }
  .arti { font-size: 1.5em; grid-column: 3; grid-row: 1; padding-right: 15px; padding-top: 10px; }
  .lux { font-size: 1.5em; grid-column: 1; grid-row: 4; padding-left: 10px; padding-bottom: 10px; }
  .fer { font-size: 1.5em; grid-column: 2; grid-row: 1; }
  .mar { font-size: 1.5em; grid-column: 2; grid-row: 2; }
  .epi { font-size: 1.5em; grid-column: 2; grid-row: 3; }
  .rar { font-size: 1.5em; grid-column: 2; grid-row: 4; }
  .hide { color: transparent; user-select: none; }
  .test {
    box-shadow: inset 0 0 0 2000px rgba(245, 230, 39, 0.4);
  }
  .Serkath {
    box-shadow: inset 0 0 0 2000px rgba(47, 36, 131, 0.4);
  }
  .Valnène {
    box-shadow: inset 0 0 0 2000px rgba(51, 102, 255, 0.4);
  }
  .Aestedoniens {
    box-shadow: inset 0 0 0 2000px rgba(255, 209, 26, 0.4);
  }
  .Barabas {
    box-shadow: inset 0 0 0 2000px rgba(255, 195, 54, 0.4);
  }
  .Abartha {
    box-shadow: inset 0 0 0 2000px rgba(184, 18, 3, 0.4);
  }
  .hills { background-image: url('https://zupimages.net/up/24/38/69gv.png'); background-repeat: no-repeat; background-size: contain; z-index: 1;}
  .taigas { background-image: url('https://zupimages.net/up/24/38/7h84.png'); background-repeat: no-repeat; background-size: contain; z-index: 1;}
  .mountains { background-image: url('https://zupimages.net/up/24/38/jtbb.png'); background-repeat: no-repeat; background-size: contain; z-index: 1;}
  .fields { background-image: url('https://zupimages.net/up/24/38/mdan.png'); background-repeat: no-repeat; background-size: contain; z-index: 1;}
  .forest { background-image: url('https://zupimages.net/up/24/38/6eyc.png'); background-repeat: no-repeat; background-size: contain; z-index: 1;}
  .wetland { background-image: url('https://zupimages.net/up/24/38/0cmg.png'); background-repeat: no-repeat; background-size: contain; z-index: 1;}
  .savana { background-image: url('https://zupimages.net/up/24/38/x92q.png'); background-repeat: no-repeat; background-size: contain; z-index: 1;}
  .secret {background-color: #707070;}
  .water {background-color: #66bbe2;}
  .blockCiv {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
  }
  .civ {
    width: 25%;
    padding: 2% 2%;
    border-radius: 33%;
    background-color: #bbb4b4;
    color: black;
  }
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgb(204, 0, 0), rgba(102, 187, 226, 1));
    padding: 0.8%;
    color: white;
  }
  .filter{
    flex: 1;
    cursor: pointer;
    text-align: center;
  }
  .filter:hover{
    outline:1px solid white;
  }
  .active{
    outline:1px solid black;
  }
